# entropy_data/pyproject.toml

[project]
name = "entropy_inference"
version = "1.0.0"
dependencies = [

]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["src"]